[Unit]
Description=Rezeptbuch web service
After=network.target

[Service]
ExecStart=/opt/webservice/rezeptbuch/startService.sh
User=pi
Group=pi
WorkingDirectory=/opt/webservice/rezeptbuch
PrivateTmp=true
Restart=always

[Install]
WantedBy=default.target
