[Unit]
Description=Rezeptbuch web service

[Service]
ExecStart=/opt/webservice/rezeptbuch/startService.sh
Type=simple

[Install]
WantedBy=default.target
